@import "./untils";

/**
 * Pure
 */

.footer{
  position: fixed;
  text-align:center;
  color: white;
  bottom: 0px;
  width: 100%;
  @include bg-gray(56, .8);
  .copyright{
  	margin: 5px;
  	font-size: 0.8em;
	letter-spacing: 1px;
  }
}