@import "./untils";

/**
 * Pure
 */
.header{
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
  .logo-box{
    padding-top: 10px;
    a{
      .logo{
        background-size: cover;
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
  }
  .nav{
    text-align: center;
    &.close-nav{
      height: initial;
    }
    li{
      margin: 12px 40px;
      font-family: 'Microsoft JhengHei UI', 'Microsoft JhengHei', sans-serif;
      a{
        color: black;
      }
    }
  }
}

/**
 * mobile
 */
@media (max-width: $screen-xs-max) {
  .header{
    @include bg-gray(56, .8);
    .logo-box{
      position: relative;
      a{
        .logo{
          background-image: url("../images/logo_corporate.png");
          width: 120px;
          height: 81px;
        }
      }
      button.toggle{
        position: absolute;
        top: 50%;
        left: 15px;
        background-color: transparent;
        border: none;
        padding: 10px;
        display: block;
        transform: translateY(-50%);
        .icon-bar{
          width: 24px;
          border: 1px solid white;
          height: 2px;
          display: block;
          margin-bottom: 2px;
        }
      }
    }
    .nav{
      margin-bottom: 0;
      height: 240px;
      @include bg-gray(159,.32);
      &.close-nav{
        height: 0;
        li{
          display: none;
        }
      }
      li{
        background-color: transparent;
        font-size: 1.2em;
        border-bottom: 1px solid rgba(0,0,0,.11);
        display: block;
      }
    }
  }
}



/**
 * desktop
 */
@media (min-width: $screen-xs-max) {
  .header{
    background-color: #FFF;
    border-bottom: 12px solid #7d8996;
    box-shadow: 1px 9px 12px rgba(113, 109, 109, 0.5);
    .logo-box{
      a{
        .logo{
          background-image: url("../images/desk_logo.png");
          width: 120px;
          height: 74px;
        }
      }
      button.toggle{
        display: none;
      }
    }
    .nav{
      margin-bottom: 10px;
      &.close-nav{
        height: initial;
      }
      li{
        display: inline-block;
        background-color: #b8b7b7;
        margin: 12px 40px;
        font-size: 16.8px;
        width: 112px;
        font-family: 'Microsoft JhengHei UI', 'Microsoft JhengHei', sans-serif;
        a{
          color: black;
        }
      }
    }
  }
}


