$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@mixin bg-gray($color, $opacity){
  background-color: rgba($color,$color,$color, $opacity);
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body{
  height: 100%;
}

/* Space out content a bit */
body {
  background-image: url("../images/patten.jpg");
}

.wrapper{
  height: 100%;

  /**
   ******** 這邊已重構到 header.scss ********
   */
  .header{
    background-color: #FFF;
    border-bottom: 12px solid #7d8996;
    box-shadow: 1px 9px 12px rgba(113, 109, 109, 0.5);
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    .logo-box{
      padding-top: 10px;
      a{
        .logo{
          background-image: url("../images/desk_logo.png");
          background-size: cover;
          width: 120px;
          height: 74px;
          margin: 0 auto;
          margin-bottom: 10px;
        }
      }
      button.toggle{
        display: none;
      }
    }
    .nav{
      text-align: center;
      margin-bottom: 10px;
      &.close-nav{
        height: initial;
      }
      li{
        display: inline-block;
        background-color: #b8b7b7;
        margin: 12px 40px;
        font-size: 16.8px;
        width: 112px;
        font-family: 'Microsoft JhengHei UI', 'Microsoft JhengHei', sans-serif;
        a{
          color: black;
        }
      }
    }
  }
  /**
   ******** end 這邊已重構到 header.scss ********
   */
  
  .pages{
    position: absolute;
    width: 100%;
    height: calc(100% - 184px);
    top: 184px;

    .section{
      &.kv{
        background-color: #aaf;
      }
      &.about-us{
        background-color: #faa;
      }
      &.service{
        background-color: #ffa;
      }
      &.showreel{
        background-color: #afa;
      }
      &.contact{
        background-color: #aff;
      }
    }
  }

  .footer{
    position: relative;
    text-align: center;
    width: 100%;
    height: 30px;
    color: white;
    @include bg-gray(56, .8);
    .copyright{
      margin-top: 5px;
    }
  }
}

@import "mobile.scss";