$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
  background-image: url("../images/patten.jpg");
}

.wrapper{
  .header{
    background-color: #FFF;
    border-bottom: 12px solid #7d8996;
    box-shadow: 1px 9px 12px rgba(113, 109, 109, 0.5);
    .logo-box{
      padding-top: 10px;
      a{
        .logo{
          background-image: url("../images/desk_logo.png");
          background-size: cover;
          width: 120px;
          height: 74px;
          margin: 0 auto;
          margin-bottom: 10px;
        }
      }
      button.toggle{
        display: none;
      }
    }
    .nav{
      text-align: center;
      margin-bottom: 10px;
      &.close-nav{
        height: initial;
      }
      li{
        display: inline-block;
        background-color: #b8b7b7;
        margin: 12px 40px;
        font-size: 16.8px;
        width: 112px;
        font-family: 'Microsoft JhengHei UI', 'Microsoft JhengHei', sans-serif;
        a{
          color: black;
        }
      }
    }
  }
}

@import "mobile.scss";