@mixin bg-gray($color, $opacity){
  background-color: rgba($color,$color,$color, $opacity);
}

@media screen and (min-width:360px) and (max-width: 768px){
  .wrapper{
    .header{
      border-bottom: initial;
      box-shadow: initial;
      overflow: hidden;
      @include bg-gray(56, .8);
      .logo-box{
        position: relative;
        height: 85px;
        a{
          .logo{
            background-image: url("../images/logo_corporate.png");
            background-size: cover;
            width: 120px;
            height: 81px;
            margin: 0 auto;
            margin-bottom: 20px;
          }
        }
        button.toggle{
          position: absolute;
          top: 50%;
          left: 15px;
          background-color: transparent;
          border: none;
          padding: 10px;
          display: block;
          transform: translateY(-50%);
          .icon-bar{
            width: 24px;
            border: 1px solid white;
            height: 2px;
            display: block;
            margin-bottom: 2px;
          }
        }
      }

      .nav{
        transition: height .3s;
        text-align: center;
        height: 240px;
        @include bg-gray(159,.32);
        &.close-nav{
          height: 0;
          li{
            display: none;
          }
        }
        li{
          background-color: transparent;
          font-size: 1.2em;
          border-bottom: 1px solid rgba(0,0,0,.11);
          display: block;
          margin: 12px 40px;
          a{
            color: black;
          }
        }
      }
    }
  }
}

