@import "./untils";


/**
 * Pure
 */
&.about-us{
	.p-content{
	  img{
	   position: relative;
	   margin:0 auto;
	  }
	  .txt{
	  	p{
	  		position: relative;
	  	}
	  }
    }
}

/**
 * mobile
 */
@media (max-width: $screen-xs-max) {
	&.about-us{
	  .title{
	  	background-color: #538526;
	  }
	  .p-content{
	    img{
		  padding: 20px;
	  	 }
	   }
	}

}

/**
 * pad
 */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
	&.about-us{
	  .title{
	  	background-color: #538526;
	  }
	  .p-content{
	    img{
		  padding: 50px;
	  	 }
	   }
	}
}


/**
 * desktop
 */
@media (min-width:$screen-md-min) and (max-width: $screen-md-max) {
	 &.about-us{
	 	height: auto;
	 	height: 100%;
	  .title{
	  	position: absolute;
	  	background-color: none;
	  }
	  .p-content{
	    img{
		  top: 35%;
	  	 }
	  	.txt{
	  		p{
	  			top: 33%;
	  		}
	  	}
	  }
	}
}

/**
 * large
 */
 @media (min-width:$screen-lg-min) {
	 &.about-us{
	 	height: auto;
	  .title{
	  	position: absolute;
	  	background-color: none;
	  }
	  .p-content{
	    img{
		  top: 35%;
	  	 }
	  	.txt{
	  		p{
	  			top: 35%;
	  		}
	  	}
	  }
	}
}