&.kv{
  height: 100%;
  .img{
    width: 100%;
    height: 140%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/main_logo.png");
  }
}


/**
 * mobile
 */

/**
 * desktop
 */